@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Enriqueta');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

section {
	background color: white;
}

nav {
	font-family: 'Enriqueta', Georgia, serif;
	font-size: 14px;
	padding: 15px;
	padding-top: 30px;
}

h1 {
	color: #e2d456;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	font-size: 70px;
	font-weight: 100;
	text-align: center;
}

h2 {
	color: gray;
	font-family: 'Enriqueta', Georgia, serif;
	font-size: 23px;
	line-height: 1em;
	font-weight: 100;
	text-align: center;
	padding: 10px;
}

h3 {
	color: gray;
	font-family: 'Enriqueta', Georgia, serif;
	font-size: 24px;
	font-weight: 100;
	text-align: center;
	padding-bottom: 15px;
}

h4 {
	color: white;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 100;
	text-align: center
}

p {
	color: black;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	text-align: center;
}

footer {
	background-color: #cccccc;
	padding: 20px;
	text-align: center;
	margin-top: 2px;
	line-height: 2em;
	border-color: black;
}

footer a {
	text-decoration: underline;
	color: white;
	padding-bottom: 1px;
	display:inline-block;
	margin-bottom: 1px; 
}
h1, h3 {
	margin: 20px 0;
}


img {
	width: 100%;
}

.clearfix:after {
	display: block;
	content:"";
	clear: both;
}

#skinny-nav-column {
	position:fixed;
	top: 0; left: 0; width: 100px; padding-top: 25px; 
	background-color: white;
	height: 100vh;
	}

#main-column {
	padding-left: 100px;
	background-color: #eeeeee;
}

#hero-img-plus-headline {
	position: relative;
}

#hero-headline {
	position: absolute;
	top: 50%; left:50%; transform: translate(-50%, -50%);
}

.skinny-nav-leading {
	display: block; margin-bottom: 10px;
	text-decoration: none;
}

.skinny-nav-leading:hover {
	color: #e2d456;
}

#and-pass-about-it {
	margin-top: 22px;
}

#lcd-icons-container {
	width: 400px;
	margin: 0 auto;
	padding: 20px;
}

.lcd-icons {
	float: left;
	width: 110px;
	padding right: 20px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.portfolio-selection {
	width: 25%;
	float: left;
	position: relative;
}

.portfolio-selection img {
	display: block;
}

.portfolio-selection figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #4e2d67;
	opacity: 0;
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.portfolio-selection:nth-child(odd) figcaption {
	background-color: #d8c821;
}

.portfolio-selection:hover figcaption {
	opacity: 1;
}

.portfolio-selection h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#client-logos {
	padding-top: 250px;
	padding-bottom: 200px;
	background-color: #eeeeee;
}

span {
	color: gray;
	font-size: 14px;
}



