@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import url('https://fonts.googleapis.com/css?family=Coustard');
@import url('https://fonts.googleapis.com/css?family=Enriqueta');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

section {
	background color: #E89C6C;
}

nav {
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	font-size: 14px;
	padding: 15px;
	padding-top: 30px;
}

h1 {
	color: #e2d456;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	font-size: 80px;
	font-weight: 100;
	text-align: center;
}

h2 {
	color: gray;
	font-family: 'Enriqueta', Georgia, serif;
	font-size: 23px;
	line-height: 1em;
	font-weight: 100;
	text-align: center;
	padding: 10px;
}

h3 {
	color: gray;
	font-family: 'Enriqueta', Georgia, serif;
	font-size: 24px;
	font-weight: 100;
	text-align: center;
	padding-bottom: 15px;
}

h4 {
	color: white;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 100;
	text-align: center
}

p {
	color: black;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	text-align: center;
}

footer {
	background-color: #FF957E;
	padding: 20px;
	text-align: center;
	margin-top: 2px;
	line-height: 2em;
	border-color: black;
}

footer a {
	text-decoration: none;
	color: white;
	border-bottom: 1px solid white;
	padding-bottom: 1px;
	display:inline-block;
	margin-bottom: 1px; 
	line-height: 15px;
}
h1, h3 {
	margin: 20px 0;
}


img {
	width: 100%;
}

.clearfix:after {
	display: block;
	content:"";
	clear: both;
}

#skinny-nav-column {
	position:fixed;
	top: 0; left: 0; width: 100px; padding-top: 25px; 
	background-color: #E8C66A;
	height: 100vh;
	}

#main-column {
	padding-left: 100px;
	background-color: #E89C6C;
}

#hero-img-plus-headline {
	position: relative;
}

#hero-headline {
	position: absolute;
	top: 50%; left:50%; transform: translate(-50%, -50%);
}

.skinny-nav-leading {
	display: block; margin-bottom: 10px;
	text-decoration: none;
}

.skinny-nav-leading:hover {
	color: white;
}

#and-pass-about-it {
	margin-top: 22px;
}

.portfolio-selection {
	width: 25%;
	float: left;
	height: 258px;
	border: 1px solid black;
}

#client-logos {
	padding: 100px;
	background-color: #E89C6C;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

span {
	color: gray;
	font-size: 24px;
}
